<div>
  <div class="container_col1">
    <div class="begin">
      <img class="img_home" src="../../static/blue_box.png" alt="" />
      <h3 class="texto_begin">Begin</h3>
      <div class="shared">
        <h4>All files</h4>
        <h4>Shared</h4>
      </div>
    </div>

    <div class="bookmarks">
      <b-button v-on:click="modelFolder = !modelFolder">Send folder</b-button>

      <b-modal v-model="modelFolder" title="Create folder">
        <b-form action="">
          <label>Name</label>
          <input v-model="folderName" /><br />
          <b-button type="button" v-on:click="createFolder">
            Create Folder
          </b-button>
        </b-form>
      </b-modal>
    </div>
  </div>

  <div class="container_col2">
    <div class="central">
      <b-table :items="items" :fields="fields"> </b-table>

      <div class="div_new_folder">
        <b-icon icon="folder-plus"></b-icon>
      </div>

      <div class="div_folder">
        <b-icon icon="folder-fill" v-on:click="goHomeFolder"></b-icon>
      </div>
    </div>
  </div>

  <div class="container_col3">
    <div class="group">
      <img class="img_group" src="../../static/group-icon.png" alt="" />
      <h2 class="texto_group">Groups</h2>
      <h4>Group1</h4>
      <h4>Group2</h4>
      <h4>Group3</h4>

      <div class="new_group">
        <button class="new_group_btn" type="submit">New group</button>
        <b-icon icon="tools"></b-icon>
      </div>
    </div>
  </div>
</div>
