<div>
  <b-card-group columns>
    <b-card>
      <b-form action>
        <img class="img_theme centralize-img" src="../../static/blue_box.png" />
        <h2 class="title_theme centralize-text">Sign In</h2>

        <div>
          <label>Email</label>
          <input
            class="input_theme"
            name="emailLogin"
            placeholder="Email"
            required
            type="email"
          />

          <label class="mt-2">Password</label>
          <input
            name="passwordLogin"
            class="input_theme"
            placeholder="Password"
            required
            type="password"
          />

          <label class="mt-2"> <input type="checkbox" /> Remember-me</label>

          <button class="button_theme" type="submit">Login</button>
        </div>
      </b-form>
    </b-card>

    <b-card>
      <b-form action>
        <img class="img_theme centralize-img" src="../../static/blue_box.png" />
        <h2 class="title_theme centralize-text">Sign Up</h2>

        <label>Email</label>
        <input
          class="input_theme"
          name="email"
          placeholder="Email"
          required
          type="email"
        />

        <button class="button_theme mt-4" type="submit">Continue</button>
      </b-form>
    </b-card>
  </b-card-group>
</div>
