<div class="container">
  <img class="img_new_account" src="../../static/machine.jpeg" />

  <form action="">
    <div class="card">
      <h2>New Account</h2>

      <label>Name</label>
      <input type="text" v-model="name" placeholder="Name" required />

      <label>Email</label>
      <input type="email" v-model="email" placeholder="Email" required />

      <label>Password</label>
      <input type="password" v-model="pass" placeholder="Password" required />
      <button v-on:click="newAccount">Continue</button>
      <button v-on:click="goBack">Back</button>
    </div>
  </form>
</div>
