body {
  background-color: rgb(76, 76, 196);
  font-family: sans-serif;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container_col1 {
  width: 201px;
  height: 401px;
  display: inline-block;
  padding-top: 0px;
}

.begin {
  background-image: linear-gradient(
    to right,
    rgb(71, 71, 179),
    rgb(43, 14, 231)
  );
  width: 200px;
  height: 350px;
  border-color: black;
  border-style: solid;
  border-width: thin;
}

.img_home {
  width: 80px;
  height: 80px;
  display: inline-block;
  padding-left: 2px;
}

.texto_begin {
  display: inline-block;
  padding-top: 0px;
}

.shared {
  width: 200px;
  height: 200px;
  margin: auto;
}

.bookmarks {
  background-image: linear-gradient(
    to right,
    rgb(71, 71, 179),
    rgb(43, 14, 231)
  );
  width: 200px;
  height: 320px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  display: inline-block;
}

.container_col2 {
  /* background-color: rosybrown;*/
  width: 850px;
  height: 650px;
  padding-top: 0px;
  display: inline-block;
  flex-direction: row;
}
.central {
  /*background-color: red;*/
  width: 849px;
  height: 649px;
  padding-top: 320px;
}

.div_new_folder {
  /*background-color: sienna;*/
  width: 100px;
  height: 120px;
  display: inline-block;
  margin-top: 0px;
  padding: 0px;
}

.new_folder {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.div_folder {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.folder {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.container_col3 {
  width: 201px;
  height: 630px;
  display: inline-block;
  padding-top: 0px;
}
.group {
  background-image: linear-gradient(
    to right,
    rgb(71, 71, 179),
    rgb(43, 14, 231)
  );
  width: 200px;
  height: 500px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  display: inline-block;
  margin: right;
}

.img_group {
  margin: auto;
  width: 199px;
  height: 200px;
}

.texto_group {
  text-align: center;
}

.new_group {
  margin: bottom;
  width: 200px;
  height: 50px;
  padding-left: 5px;
}

.new_group_btn {
  display: inline-block;
  width: 90px;
  height: 40px;
  padding-left: 1px;
}

.img_new_group {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding-top: 1px;
}

/*links*/
a:link {
  color: #ff0000;
  text-decoration: none;
}

a:visited {
  color: #999999;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

a:active {
  color: #00ff00;
  text-decoration: none;
  /*background-color:#000000;*/
}
